In [2]:
#Importando bibliotecas
import numpy as np
import pandas as pd

# Análise dos dados

In [85]:
#Importando os dados
pasta = 'Dados-originais/'

calendar = pd.read_csv(pasta+'calendar.csv')
sales_train_evaluation = pd.read_csv(pasta+'sales_train_evaluation.csv')
sales_train_validation = pd.read_csv(pasta+'sales_train_validation.csv')
sample_submission = pd.read_csv(pasta+'sample_submission.csv')
sell_prices = pd.read_csv(pasta+'sell_prices.csv')

In [86]:
def print_k_s(db,name):
    rows,columns = db.shape
    
    print("""
    ------------- {} -------------------
    Keys: 
    {}
    ----------------------------------------------
    rows = {}
    columns = {}
    
    ----------------------------------------------
    """.format(name,db.keys(),rows,columns))

In [87]:
print_k_s(calendar,'Calendar')

    ------------- Calendar -------------------
    Keys:
    Index(['date', 'wm_yr_wk', 'weekday', 'wday', 'month', 'year', 'd',
       'event_name_1', 'event_type_1', 'event_name_2', 'event_type_2',
       'snap_CA', 'snap_TX', 'snap_WI'],
      dtype='object')
    ----------------------------------------------
    rows = 1969
    columns = 14

    ----------------------------------------------

In [88]:
print_k_s(sales_train_evaluation,'sales_train_evaluation')

    ------------- sales_train_evaluation -------------------
    Keys:
    Index(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'd_1',
       'd_2', 'd_3', 'd_4',
       ...
       'd_1932', 'd_1933', 'd_1934', 'd_1935', 'd_1936', 'd_1937', 'd_1938',
       'd_1939', 'd_1940', 'd_1941'],
      dtype='object', length=1947)
    ----------------------------------------------
    rows = 30490
    columns = 1947

    ----------------------------------------------

In [89]:
print_k_s(sales_train_validation,'sales_train_validation')

    ------------- sales_train_validation -------------------
    Keys:
    Index(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'd_1',
       'd_2', 'd_3', 'd_4',
       ...
       'd_1904', 'd_1905', 'd_1906', 'd_1907', 'd_1908', 'd_1909', 'd_1910',
       'd_1911', 'd_1912', 'd_1913'],
      dtype='object', length=1919)
    ----------------------------------------------
    rows = 30490
    columns = 1919

    ----------------------------------------------

In [90]:
print_k_s(sample_submission,'sample_submission')

    ------------- sample_submission -------------------
    Keys:
    Index(['id', 'F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8', 'F9', 'F10',
       'F11', 'F12', 'F13', 'F14', 'F15', 'F16', 'F17', 'F18', 'F19', 'F20',
       'F21', 'F22', 'F23', 'F24', 'F25', 'F26', 'F27', 'F28'],
      dtype='object')
    ----------------------------------------------
    rows = 60980
    columns = 29

    ----------------------------------------------

In [91]:
print_k_s(sell_prices,'sell_prices')

    ------------- sell_prices -------------------
    Keys:
    Index(['store_id', 'item_id', 'wm_yr_wk', 'sell_price'], dtype='object')
    ----------------------------------------------
    rows = 6841121
    columns = 4

    ----------------------------------------------

## Separando os diferentes Ids fornecidos

In [172]:
# Separa os Ids para facilitar visualização e facilitar divisão da planilha pricipal baseado id
# Ex: Se formos separar por id de departamento, pode-se utilizar o objeto dept_id para esta separação

itens_ids =  sales_train_validation['item_id'].value_counts().index.sort_values()
dept_id =  sales_train_validation['dept_id'].value_counts().index.sort_values()
full_id =  sales_train_validation['id'].value_counts().index.sort_values()
cat_id =  sales_train_validation['cat_id'].value_counts().index.sort_values()
store_id = sales_train_validation['store_id'].value_counts().index.sort_values()
state_id = sales_train_validation['state_id'].value_counts().index.sort_values()

dias = sales_train_validation.keys()[6:]

In [221]:
dias

Index(['d_1', 'd_2', 'd_3', 'd_4', 'd_5', 'd_6', 'd_7', 'd_8', 'd_9', 'd_10',
       ...
       'd_1904', 'd_1905', 'd_1906', 'd_1907', 'd_1908', 'd_1909', 'd_1910',
       'd_1911', 'd_1912', 'd_1913'],
      dtype='object', length=1913)

In [181]:
calendar.head()

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1

In [182]:
sales_train_validation.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001_CA_1_validation,FOODS_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,HOBBIES_1_002_CA_1_validation,FOODS_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,FOODS_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,HOBBIES_1_004_CA_1_validation,FOODS_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,HOBBIES_1_005_CA_1_validation,FOODS_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4

In [183]:
sell_prices.head()

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26

In [192]:
calendar['d']

0          d_1
1          d_2
2          d_3
3          d_4
4          d_5
         ...
1964    d_1965
1965    d_1966
1966    d_1967
1967    d_1968
1968    d_1969
Name: d, Length: 1969, dtype: object

In [187]:
def price_day_column(sell_prices,sales):
    pdc = []
    for item in sales:
        aux = sell_prices[sell_prices['item_id'] == item['item_id'] and sell_prices['store_id'] == item['store_id'] and ]

Int64Index([11101, 11102, 11103, 11104, 11105, 11106, 11107, 11108, 11109,
            11110,
            ...
            11612, 11613, 11614, 11615, 11616, 11617, 11618, 11619, 11620,
            11621],
           dtype='int64', length=282)

In [250]:
def get_labels(sales):  
    labels = pd.DataFrame(sales.iloc[:,6:])
    labels = labels.transpose()
    labels.columns = sales['id']
    
    return labels

In [252]:
x = get_labels(sales_train_validation)

d_1       0
d_2       0
d_3       0
d_4       0
d_5       0
         ..
d_1909    1
d_1910    3
d_1911    0
d_1912    1
d_1913    1
Name: HOBBIES_1_001_CA_1_validation, Length: 1913, dtype: int64